<div class="btn {% block class %} {% endblock %}">
  <a href={% block url %} '/contact-us' {% endblock %}>
    <p>{% block title %}Enquire Now {% endblock %}</p>
    <div>{% include '_partials/svgs/arrow.twig' %}</div> 
  </a>
</div>


