<div class="flex-wrap flex-jc-sb nav">
    <div class="flex-wrap flex-jc-sb nav">
        <p><a href="/">Home</a></p>
        {# <p><a href="/other">Other</a></p> #}
        {# <p><a href="/explore-our-spaces">Explore our spaces</a></p> #}
        <p><a href="/urban-desk">UrbanDesk</a></p>
        <p><a href="/urban-studio">UrbanStudio</a></p>
        <p><a href="/urban-suite">UrbanSuite</a></p>
        <p><a href="/urban-lease">UrbanLease</a></p>
        <p><a href="/urban-meet">UrbanMeet</a></p>
        <p><a href="/urban-club">UrbanClub</a></p>
        <p><a href="/the-building">Building</a></p>
        <p><a href="/neighbourhood">Neighbourhood</a></p>
                <p><a href="/urban-community">Community</a></p>
                <p><a href="/culture-events">Culture</a></p>
         <p><a href="/contact-us">contact</a></p>
    </div>
    {% embed '_partials/button' %}
        {% block class %} {{buttonClass}} no-marg-top {% endblock %}
        {% block title %}Sign In{% endblock %}
        {% block url %}{{businessInformation.signIn}} target="_blank" {% endblock %}
    {% endembed %} 
</div>