 <nav>
      <div class="navbar">
        <div class="mobile-nav">
          <a href="/">Logo</a>
          <i class="bx bx-menu"></i>
        </div>

        <div class="nav-links">
            <div class="links">
                <div class="x"><a href="/">Home</a></div>
                <div class="x">
                    <a href="/solutions">Solutions</a>
                    <i class="bx bxs-chevron-down solutions-arrow arrow"></i>
                    <div class="solutions-sub-menu sub-menu">
                        <a href="urban-studio">
                            <div>
                                <p>UrbanStudio</p>
                                {% include '_partials/svgs/UrbanStudio.twig' %}
                            </div>
                        </a>
                        <a href="urban-suite">
                            <div>
                                <p>UrbanStudio</p>
                                {% include '_partials/svgs/UrbanStudio.twig' %}
                            </div>
                        </a>
                        <a href="urban-desk">
                        <div>
                                <p>UrbanStudio</p>
                                {% include '_partials/svgs/UrbanStudio.twig' %}
                            </div>                    
                        </a>
                        <a href="urban-club">
                        <div>
                                <p>UrbanStudio</p>
                                {% include '_partials/svgs/UrbanStudio.twig' %}
                            </div>
                        </a>
                        <a href="urban-meet">
                        <div>
                                <p>UrbanStudio</p>
                                {% include '_partials/svgs/UrbanStudio.twig' %}
                            </div>
                        
                        </a>
                        <a href="urban-lease">
                        <div>
                                <p>UrbanStudio</p>
                                {% include '_partials/svgs/UrbanStudio.twig' %}
                            </div>
                        </a>
                    </div>
                </div>
                 <div class="x">
                    <a href="/urban-community">Community</a>
                    <i class="bx bxs-chevron-down community-arrow arrow"></i>
                    <div class="community-sub-menu sub-menu">
                        <a href="/the-team">Your Team</a>
                        <a href="/culture-events">Culture & Events</a>
                        <a href="/neighbourhood">Neighbourhood</a>
                    </div>
                </div>

                    <div class="x">
                    <a href="/urban-environment">Urban Environment</a>
                    <i class="bx bxs-chevron-down environment-arrow arrow"></i>
                    <div class="environment-sub-menu sub-menu">
                        <a href="the-building">The Building</a> 
                        <a href="#">Facilities & Amenities</a>  
                        <a href="/sustainability-wellbeing">Sustainability & Wellbeing</a>  
                        <a href="#">Explore Our Spaces</a>  
                    </div>
                </div>

                 <div class="x"><a href="/stories">Stories</a></div>
                 <div class="x"><a href="/contact-us">Contact</a></div>
            </div>
       

            {% embed '_partials/button' %}
            {% block class %} {{buttonClass}} no-marg-top {% endblock %}
            {% block title %}Sign In{% endblock %}
            {% block url %}{{businessInformation.signIn}} target="_blank" {% endblock %}
            {% endembed %} 
        </div>
      </div>
    </nav>