 <nav>
      <div class="navbar">
        <div class="mobile-nav">
          <a href="/" class="logo">{% include '_partials/svgs/logo.twig' %}</a>
         
        </div>

        <div class="nav-links">
            <ul class="links">
                <li class="x"><a href="/">Home</a></li>

                <li class="x">
                    <a href="/solutions">Solutions</a>
                    <i class="bx bxs-chevron-down solutions-arrow arrow"></i>
                    <div class="solutions-sub-menu sub-menu">
                    <ul class="new-wrapper">
                        <li>
                            <a href="urban-studio">
                                <div class="content">
                                {% include '_partials/svgs/UrbanStudio-2.twig' %}
                                    <div>
                                        <div class="header-intro">
                                            <p>Urban<i>Studio</i></p>
                                        </div>
                                        <p>Explore serviced offices</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="urban-suite">
                                <div class="content">
                                    {% include '_partials/svgs/UrbanSuite-2.twig' %}
                                    <div>
                                        <div class="header-intro">
                                            <p>Urban<i>Suite</i></p>
                                        </div>
                                        <p>Explore bespoke private offices</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                        <a href="urban-desk">
                            <div class="content">
                                {% include '_partials/svgs/UrbanDesk-2.twig' %}
                                <div>
                                     <div class="header-intro">
                                        <p>Urban<i>Desk</i></p>
                                    </div>
                                    <p>Explore co-working spaces</p>
                                </div>
                            </div>                   
                        </a>
                        </li>
                        <li>
                        <a href="urban-club">
                            <div class="content">
                                {% include '_partials/svgs/UrbanClub-2.twig' %}
                                <div>
                                    <div class="header-intro">
                                        <p>Urban<i>Club</i></p>
                                    </div>
                                    <p>Explore hotdesk, member access & virtual work</p>
                                </div>
                            </div>
                        </a>
                        </li>
                        <li>
                        <a href="urban-meet">
                             <div class="content">
                                {% include '_partials/svgs/UrbanMeet-2.twig' %}
                                <div>
                                    <div class="header-intro">
                                        <p>Urban<i>Meet</i></p>
                                    </div>
                                    <p>Explore meeting & conference rooms</p>
                                </div>
                            </div>
                        
                        </a>
                        </li>
                        <li>
                        <a href="urban-lease">
                            <div class="content">
                                {% include '_partials/svgs/UrbanLease-2.twig' %}
                                <div>
                                    <div class="header-intro">
                                        <p>Urban<i>Lease</i></p>
                                    </div>
                                    <p>Explore traditional lease options</p>
                                </div>
                            </div>
                        </a>
                        </li>
                        
                        </ul>
                    </div>
                </li>

                 <li class="x">
                    <a href="/urban-community">Community</a>
                    <i class="bx bxs-chevron-down community-arrow arrow"></i>
                    <div class="community-sub-menu sub-menu">
                        <ul class="new-wrapper">
                            <li><a href="/your-team">
                                <div class="content">
                                {% include '_partials/svgs/little-star.twig' %}
                                    <div>
                                        <div class="header-intro">
                                            <p>Your <i>Team</i></p>
                                        </div>
                                        <p>Say hi to our friendly team</p>
                                    </div>
                                </div>
                            </li></a>
                            <li><a href="/culture-events">
                                <div class="content">
                                    {% include '_partials/svgs/little-star.twig' %}
                                    <div>
                                        <div class="header-intro">
                                            <p>Culture <i>and Events</i></p>
                                        </div>
                                        <p>Add the latest events to your calendar </p>
                                    </div>
                                </div>
                            </li></a>
                            <li><a href="/neighbourhood">
                                <div class="content">
                                    {% include '_partials/svgs/little-star.twig' %}
                                    <div>
                                        <div class="header-intro">
                                            <p>Neighbourhood</p>
                                        </div>
                                        <p>Take a stroll around your new hood</p>
                                    </div>
                                </div>                   
                            </li></a>
                        </ul>
                    </div>
                </li>

                <li class="x">
                    <a href="/urban-environment">Urban Environment</a>
                    <i class="bx bxs-chevron-down environment-arrow arrow"></i>
                    <div class="environment-sub-menu sub-menu">
                        <ul class="new-wrapper">
                            <li>
                            <a href="/the-building">
                                <div class="content">
                                    {% include '_partials/svgs/little-star.twig' %}
                                    <div>
                                        <div class="header-intro">
                                            <p>The <i>Building</i></p>
                                        </div>
                                        <p>Learn the history of 318 Lambton Quay</p>
                                    </div>
                                </div>
                            </a> 
                            </li>   
                            <li>
                                <a href="/facilities-amenities">
                                    <div class="content">
                                        {% include '_partials/svgs/little-star.twig' %}
                                        <div>
                                            <div class="header-intro">
                                                <p>Facilities & <i>Amenities</i></p>
                                            </div>
                                            <p>Get excited about our spaces & services</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/sustainability-wellbeing">
                                    <div class="content">
                                    {% include '_partials/svgs/little-star.twig' %}
                                        <div>
                                            <div class="header-intro">
                                                <p>Sustainability & <i>Wellbeing</i></p>
                                            </div>
                                            <p>Explore the benefits of shared work</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/explore-our-spaces">
                                    <div class="content">
                                    {% include '_partials/svgs/little-star.twig' %}
                                        <div>
                                            <div class="header-intro">
                                                <p>Explore <i>Our Space</i></p>
                                            </div>
                                            <p>Experience unique spaces in Urban Hub</p>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>



                 <li class="x"><a href="/stories">Stories</a></li>
                 <li class="x"><a href="/contact-us">Contact</a></li>
            </ul>
        </div>

        {% embed '_partials/button' %}
        {% block class %} {{buttonClass}} no-marg-top {% endblock %}
        {% block title %}Sign In{% endblock %}
        {% block url %}{{businessInformation.signIn}} target="_blank" {% endblock %}
        {% endembed %} 
         <i class="bx bx-menu bx-lg"></i>
      </div>
    </nav>