<div class="hero-animation">
    <div class="flex-wrap hero">
        <div class="flex-wrap flex-jc-sb col"> 
            <img class="hero-cloud" src="/uploads/images/cloud-hero.svg" alt="cloud illustration">
        </div>
        <div class="pad-sides">     
                {% if entry.pageTitle %}
                    {{entry.pageTitle}}
                {% endif %}
        </div>
    </div>

    <div class="flex-wrap roof-wrap">
        <div class="two-thirds"> 
            <img class="hero-antenna" src="/uploads/images/roof-antenna-1.svg" alt="antenna illustration">
            <img class="roof" src="/uploads/images/green-roof.svg" alt="roof shaped block color">
            <img class="base-line" src="uploads/images/uh-hero-roof-single.png" alt="">
        </div>
        <div class="third no-flex">     
            <div class="pad-sides ">
                {% if entry.pageIntroParagraph %}
                        {{entry.pageIntroParagraph}}
                {% endif %}

                <div class="relative">
                    <div class="btn downwards">
                        <a href="#firstSection">
                            <div>{% include '_partials/svgs/arrow.twig' %}</div> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

