
<div class="tour level fifthSection ">
    <div class="flex-wrap main bg-light">
        <div class="two-thirds"> 
            <div class="relative">
                <div class="flex-wrap row pad-sides header-wrapper">
                <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">
                    <div class="heading">

                        {% if entry.heading5 %}
                        {{entry.heading5}}
                        {% endif %}



                        <div class="content">
                        {% if entry.pageIntro %}
                                {{entry.pageIntro}}
                        {% endif %}
                            {% set button5 = entry.buildingLink5[0].url ?? '/contact-us' %}
                            {% embed '_partials/button' %}
                                {% block class %}lime{% endblock %}
                                {% block title %}Enquire Now{% endblock %}
                                {% block url %}{{button5}}{% endblock %}
                            {% endembed %} 
                        </div>
                    </div>

                </div>
            </div>
        
            <div class="illustration-wrapper ">
                <img class="floor-light" src="uploads/images/ground-floor-light.png" alt="">
                <img class="" src="uploads/images/ground-floor.png" alt="">
            </div>
        </div>

        <div class="third ">  
             <div class="wind-wrapper mobile-hide">
                <img class="wind" src="uploads/images/wind.png" alt="">
            </div>
            <div class="st-sign-wrapper mobile-hide">
                <img class="st-sign" src="uploads/images/street-sign.png" alt="">
            </div>
            
        </div>
    </div>
</div>
