<div class="private-animation firstSection level">
    <div class="flex-wrap main">
        <div class="two-thirds bg-warm"> 

            <div class="relative">
                <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">
                <div class="flex-wrap row pad-sides header-wrapper">
                    <div class="heading">
                        {% if entry.heading %}
                            {{entry.heading}}
                        {% endif %}
                    </div>
                    <div class="ceiling-lighting">
                        <img src="uploads/images/uh-green-level-ceiling-light.png" alt="">
                    </div>
                </div>
            </div>

            <div class="illustration-wrapper">
                <img class="floor" src="uploads/images/uh-green-level-floor.png" alt="">
                <img class="" src="uploads/images/uh-green-level-floor-baseline.png" alt="">
               
            </div>
        </div>

        <div class="third">  
            <div class="clouds mobile-hide" >
                <img class="cloud-2"   src="uploads/images/uh-green-level-cloud-2.png" alt="">
                <img class="cloud-1"  src="uploads/images/uh-green-level-cloud-1.png" alt="">
            </div>

            <div class="content pad-all">
                {% if entry.introParagraph %}
                    <div class="intro-text">
                        {{entry.introParagraph}}
                    </div>
                {% endif %}

                {% if entry.paragraph %}
                        {{entry.paragraph}}
                {% endif %}


                {% set button1 = entry.buildingLink[0].url ?? '/contact-us' %}
                {% embed '_partials/button' %}
                    {% block class %}green {% endblock %}
                    {% block title %}Enquire Now{% endblock %}
                    {% block url %}{{button1}}{% endblock %}
                {% endembed %} 
            </div>
        </div>
    </div>
</div>