
<div class="coworking fourthSection level">
    <div class="flex-wrap main">
        <div class="two-thirds bg-purple-light"> 
            <div class="relative">
                <div class="speaker-wrapper">
                    <img class="wave wave3" src="uploads/images/speaker-wave-3b.png" alt="">
                    <img class="wave wave2" src="uploads/images/speaker-wave-2b.png" alt="">
                    <img class="wave wave1" src="uploads/images/speaker-wave-1c.png" alt="">
                    <img class="speaker" src="uploads/images/Speaker_Speaker.png" alt="">
                </div>
                <div class="flex-wrap row pad-sides header-wrapper">
                    <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">
                    <div class="heading">
                        {% if entry.heading4 %}
                        {{entry.heading4}}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="illustration-wrapper">
                <img class="" src="uploads/images/coworking-bg.png" alt="">
                 <img class="half-floor" src="uploads/images/uh-green-level-roof.png" alt="">
            </div>
        </div>

        <div class="third">  
            <div class="bird-wrapper mobile-hide">
                <img class="bird" src="uploads/images/uh-orange-level-bird.png" alt="">
            </div>
                <div class="content pad-all">
                    {% if entry.introParagraph %}
                        <div class="intro-text">
                            {{entry.introParagraph}}
                        </div>
                    {% endif %}

                    {% if entry.paragraph %}
                            {{entry.paragraph}}
                    {% endif %}

                {% set button4 = entry.buildingLink4[0].url ?? '/contact-us' %}
                {% embed '_partials/button' %}
                    {% block class %}purple{% endblock %}
                    {% block title %}Enquire Now{% endblock %}
                    {% block url %}{{button4}}{% endblock %}
                {% endembed %}  
                </div>
        </div>
    </div>
</div>