<div class="private-animation level">
    <div class="flex-wrap main">
        <div class="two-thirds bg-warm"> 

            <div class="relative">
                <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">
                <div class="flex-wrap row pad-sides header-wrapper">
                    <div class="heading">
                        <h2>Bespoke </br> <i>private</i> space</h2>
                    </div>
                    <div class="ceiling-lighting">
                        <img src="uploads/images/uh-green-level-ceiling-light.png" alt="">
                    </div>
                </div>
            </div>

            <div class="illustration-wrapper">
                <img class="floor" src="uploads/images/uh-green-level-floor.png" alt="">
                <img class="" src="uploads/images/uh-green-level-floor-baseline.png" alt="">
               
            </div>
        </div>

        <div class="third">  
            <div class="clouds mobile-hide">
                <img class="cloud-2" src="uploads/images/uh-green-level-cloud-2.png" alt="">
                <img class="cloud-1" src="uploads/images/uh-green-level-cloud-1.png" alt="">
            </div>

            <div class="content pad-all">
                {% if entry.introParagraph %}
                    <div class="intro-text">
                        {{entry.introParagraph}}
                    </div>
                {% endif %}

                {% if entry.paragraph %}
                        {{entry.paragraph}}
                {% endif %}

                {% embed '_partials/button' %}
                    {% block class %}green {% endblock %}
                    {% block title %}Enquire Now{% endblock %}
                    {% block url %}/{% endblock %}
                {% endembed %} 
            </div>
        </div>
    </div>
</div>