
<div class="traditional-animation secondSection level">
    <div class="flex-wrap main">
        <div class="two-thirds bg-yellow-light"> 
            <div class="relative">
                <div class="flex-wrap row pad-sides header-wrapper">
                <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">

                    <div class="heading">
                        {% if entry.heading2 %}
                            {{entry.heading2}}
                        {% endif %}
                    </div>
                    <div class="ceiling-fan">
                        <img src="uploads/images/fan.png" alt="">
                    </div>
                </div>
            </div>

            <div class="illustration-wrapper">
                <img class="floor" src="uploads/images/Traditional-Office-Lease_Illustration.png" alt="">
                <img class="light" src="uploads/images/Traditional-Office-Lease_Vector.png" alt="">
            </div>
        </div>

        <div class="third">  
            <div class="bird-wrapper mobile-hide">
            {# <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" fill="none" stroke="#000">
            <path id="mainPath" d="M293.28,226.82a69,69,0,0,0-69-69,76.71,76.71,0,0,0-76.71,76.71,85.23,85.23,0,0,0,85.23,85.24A94.7,94.7,0,0,0,327.47,225,105.22,105.22,0,0,0,222.25,119.8,116.92,116.92,0,0,0,105.33,236.71,129.91,129.91,0,0,0,235.24,366.62,144.34,144.34,0,0,0,379.58,222.28,160.37,160.37,0,0,0,219.2,61.9,178.2,178.2,0,0,0,41,240.1c0,109.35,88.65,198,198,198,121.5,0,220-98.5,220-220" />
            <rect id="target" width="24" height="24" />
            </svg> #}
                <img class="bird" src="uploads/images/uh-orange-level-bird.png" alt="">
            </div>

            <div class="content pad-all">
                {% if entry.introParagraph2 %}
                    <div class="intro-text">
                        {{entry.introParagraph2}}
                    </div>
                {% endif %}

                {% if entry.paragraph2 %}
                        {{entry.paragraph2}}
                {% endif %}


                {% set button2 = entry.buildingLink2[0].url ?? '/contact-us' %}
                {% embed '_partials/button' %}
                    {% block class %}orange {% endblock %}
                    {% block title %}Enquire Now{% endblock %}
                    {% block url %}{{button2}}{% endblock %}
                {% endembed %} 
            </div>
        </div>
    </div>
</div>