
<div class="traditional-animation secondSection level" id="secondSection">
    <div class="flex-wrap main">
        <div class="two-thirds bg-yellow-light"> 
            <div class="relative">
                <div class="flex-wrap row pad-sides header-wrapper">
                <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">

                    <div class="heading">
                        {% if entry.heading2 %}
                            {{entry.heading2}}
                        {% endif %}
                    </div>
                    <div class="ceiling-fan">
                        <img src="uploads/images/fan.png" alt="">
                    </div>
                </div>
            </div>

            <div class="illustration-wrapper">
                <img class="floor" src="uploads/images/Traditional-Office-Lease_Illustration.png" alt="">
                <img class="light" src="uploads/images/Traditional-Office-Lease_Vector.png" alt="">
            </div>
        </div>

        <div class="third">  
            <div class="bird-wrapper mobile-hide">
                <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 455 192" fill="none">
                    <path id="mainPath" d="M1 144.377C62.3333 180.877 101.5 212 216 98.8772C240.878 74.2985 385.333 -15.7894 454.5 4.37724"/>
                </svg>
                <img class="bird" src="uploads/images/Bird-Animation.gif" alt="">
            </div>

            <div class="content pad-all">
                {% if entry.introParagraph2 %}
                    <div class="intro-text">
                        {{entry.introParagraph2}}
                    </div>
                {% endif %}

                {% if entry.paragraph2 %}
                        {{entry.paragraph2}}
                {% endif %}


                {% set button2 = entry.buildingLink2[0].url ?? '/contact-us' %}
                {% embed '_partials/button' %}
                    {% block class %}orange {% endblock %}
                    {% block title %}Enquire Now{% endblock %}
                    {% block url %}{{button2}}{% endblock %}
                {% endembed %} 
            </div>
        </div>
    </div>
</div>