
<div class="team-animation level">
    <div class="flex-wrap main">
        <div class="two-thirds"> 
            <div class="relative">
                <div class="flex-wrap row pad-sides header-wrapper">
                <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">
                    <div class="heading">
                        <h2>Gather your team <i>together</i></h2>
                    </div>

                </div>
            </div>

            <div class="illustration-wrapper">
            <div class="wall-clock">
                <img class="clock animate" src="uploads/images/clock-face.png" alt="">
                <img class="minute animate" src="uploads/images/minute-hand-2.png" alt="">
                <img class="hour animate" src="uploads/images/hour-second-2.png" alt="">
            </div>
                <img class="" src="uploads/images/team-together.png" alt="">
                                 <img class="half-floor" src="uploads/images/uh-green-level-roof.png" alt="">
            </div>
        </div>

        <div class="third">  
            <div class="wind-wrapper mobile-hide">
                <img class="wind" src="uploads/images/wind.png" alt="">
            </div>

            <div class="content pad-all">
                {% if entry.introParagraph %}
                    <div class="intro-text">
                        {{entry.introParagraph}}
                    </div>
                {% endif %}

                {% if entry.paragraph %}
                        {{entry.paragraph}}
                {% endif %}

                {% embed '_partials/button' %}
                    {% block class %}blue{% endblock %}
                    {% block title %}Enquire Now{% endblock %}
                    {% block url %}/{% endblock %}
                {% endembed %} 
            </div>
        </div>
    </div>
</div>