
<div class="traditional-animation level">
    <div class="flex-wrap main">
        <div class="two-thirds bg-yellow-light"> 
            <div class="relative">
                <div class="flex-wrap row pad-sides header-wrapper">
                <img class="ceiling" src="uploads/images/uh-green-level-roof.png" alt="">
                    <div class="ceiling-fan">
                        <img src="uploads/images/fan.png" alt="">
                    </div>
                    <div class="heading">
                        <h2>Traditional </br> office <i>lease</i></h2>
                    </div>

                </div>
            </div>

            <div class="illustraion-wrapper">
                <img class="floor" src="uploads/images/Traditional-Office-Lease_Illustration.png" alt="">
                <img class="light" src="uploads/images/Traditional-Office-Lease_Vector.png" alt="">
            </div>
        </div>

        <div class="third">  
            <div class="bird-wrapper">
                <img class="bird" src="uploads/images/uh-orange-level-bird.png" alt="">
            </div>

            <div class="content pad-all">
                {% if entry.introParagraph %}
                    <div class="intro-text">
                        {{entry.introParagraph}}
                    </div>
                {% endif %}

                {% if entry.paragraph %}
                        {{entry.paragraph}}
                {% endif %}

                {% embed '_partials/button' %}
                    {% block class %}orange {% endblock %}
                    {% block title %}Enquire Now{% endblock %}
                    {% block url %}/{% endblock %}
                {% endembed %} 
            </div>
        </div>
    </div>
</div>