@import url("https://use.typekit.net/cxz6ehv.css");
@font-face {
  font-family: "eina_semiboldregular";
  src: url("../fonts/eina_04_w03_semibold-webfont.woff2") format("woff2"), url("../fonts/eina_04_w03_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displaylight";
  src: url("../fonts/eloquiadisplay-light-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displaymedium";
  src: url("../fonts/eloquiadisplay-medium-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displayregular";
  src: url("../fonts/eloquiadisplay-regular-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "reckless_medium";
  src: url("../fonts/recklessneue-medium-webfont.woff2") format("woff2"), url("../fonts/recklessneue-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "reckless_regular";
  src: url("../fonts/recklessneue-regular-webfont.woff2") format("woff2"), url("../fonts/recklessneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tobiasregular";
  src: url("../fonts/tobias-regular-webfont.woff2") format("woff2"), url("../fonts/tobias-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanguard_demi_bold";
  src: url("../fonts/vanguardcf-demibold-webfont.woff2") format("woff2"), url("../fonts/vanguardcf-demibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanguard_medium";
  src: url("../fonts/vanguardcf-medium-webfont.woff2") format("woff2"), url("../fonts/vanguardcf-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  z-index: 1;
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #FAF6F0;
  color: #315844;
  font-family: "commuters-sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 100em) {
  body {
    font-size: 1.1em;
  }
}
@media (min-width: 126em) {
  body {
    font-size: 1.3em;
  }
}

a {
  color: #BAE2A6;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
}

div p {
  margin: 0 0 1em;
}
div p:not(.header-intro):last-of-type {
  margin-bottom: 0;
}

h1 span, h2 span, h3 span, p span {
  font-family: "reckless_medium, serif";
  font-weight: 500;
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-family: "eina_semiboldregular", sans-serif;
  margin: 0;
  margin-bottom: 3vw;
  font-weight: 600;
  color: #315844;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #FAF6F0;
}
.dark p {
  color: #FAF6F0;
}

h1 {
  line-height: 0.8em;
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

.intro-text {
  font-size: 25px;
  line-height: 1.1em;
}

.header-intro {
  font-size: 40px;
  font-family: "eina_semiboldregular", sans-serif;
  margin-bottom: 0.3em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 8vw;
  }
  h1.lg {
    font-size: 10.5vw;
  }
  h2 {
    font-size: 7vw;
  }
  h3 {
    font-size: 3.5vw;
  }
}
@media (min-width: 64em) {
  h1 {
    font-size: 6vw;
  }
  h1.lg {
    font-size: 8.5vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3.5vw;
  }
}
@media (min-width: 85.375em) {
  h3 {
    font-size: 2.2vw;
  }
  .intro-text {
    font-size: 1.6vw;
  }
  .header-intro {
    font-size: 2vw;
  }
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 300px;
}

img {
  width: 100%;
  max-width: 100%;
}

svg {
  overflow: visible !important;
  z-index: 1;
}

.btn {
  display: flex;
  margin-top: 50px;
}
.btn a {
  padding: 0.5em;
  display: flex;
  background-color: #315844;
  align-items: center;
  border-radius: 4vw;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.btn a p {
  color: #FAF6F0;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0.8em;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  white-space: nowrap;
}
.btn a div {
  background-color: #BAE2A6;
  border-radius: 4vw;
  padding: 0.2em 1em;
}
.btn a div svg {
  fill: #315844;
  width: 1.6em;
}
.btn.purple a {
  background-color: #272641;
}
.btn.purple a div {
  background-color: #EFC334;
}
.btn.purple a div svg {
  fill: #272641;
}
.btn.blue a {
  background-color: #253C40;
}
.btn.blue a div {
  background-color: #6AC4D1;
}
.btn.blue a div svg {
  fill: #253C40;
}
.btn.yellow a {
  background-color: #EBE198;
}
.btn.yellow a p {
  color: #DB6B34;
}
.btn.yellow a div {
  background-color: #DB6B34;
}
.btn.yellow a div svg {
  fill: #EBE198;
}
.btn.lime a {
  background-color: #D3E84C;
}
.btn.lime a p {
  color: #315844;
}
.btn.lime a div {
  background-color: #315844;
}
.btn.lime a div svg {
  fill: #D3E84C;
}

.pad-all {
  padding: 4vw;
}
@media (min-width: 48em) {
  .pad-all {
    padding: 4vw;
  }
}

.pad-sides {
  padding-left: 4vw;
  padding-right: 4vw;
}
@media (min-width: 64em) {
  .pad-sides.no-left {
    padding-left: 0;
  }
  .pad-sides.no-right {
    padding-right: 0;
  }
}

.pad-top-btm {
  padding-top: 4vw;
  padding-bottom: 4vw;
}
@media (min-width: 64em) {
  .pad-top-btm.no-top {
    padding-top: 0;
  }
  .pad-top-btm.no-btm {
    padding-bottom: 0;
  }
}

.border-right {
  border-right: 1px solid;
}

.border-green {
  border-color: #315844;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
}
.flex-wrap.wrap {
  flex-wrap: wrap;
  flex-direction: row;
}
@media (min-width: 64em) {
  .flex-wrap {
    flex-direction: row;
  }
  .flex-wrap .half {
    flex: 1;
    flex-basis: 50%;
  }
  .flex-wrap .half.grow-vis {
    flex-basis: 65%;
  }
  .flex-wrap .third {
    flex: 1;
    flex-basis: 33.33%;
  }
}

.just-cont-center,
.just-cont-right,
.just-cont-space-btwn,
.align-items-center,
.align-items-top,
.align-items-btm,
.align-items-center,
.align-items-stretch,
.align-content-center,
.align-content-right,
.align-content-space-btwn {
  display: flex;
}
.just-cont-center.row,
.just-cont-right.row,
.just-cont-space-btwn.row,
.align-items-center.row,
.align-items-top.row,
.align-items-btm.row,
.align-items-center.row,
.align-items-stretch.row,
.align-content-center.row,
.align-content-right.row,
.align-content-space-btwn.row {
  flex-direction: row;
}
.just-cont-center.col,
.just-cont-right.col,
.just-cont-space-btwn.col,
.align-items-center.col,
.align-items-top.col,
.align-items-btm.col,
.align-items-center.col,
.align-items-stretch.col,
.align-content-center.col,
.align-content-right.col,
.align-content-space-btwn.col {
  flex-direction: column;
}

.align-cont-center {
  align-content: center;
}

.align-cont-right {
  align-content: right;
}

.align-cont-space-btwn {
  justify-content: space-between;
}

.just-cont-center {
  justify-content: center;
}

.just-cont-right {
  justify-content: right;
}

.just-cont-space-btwn {
  justify-content: space-between;
}

.align-items-top {
  align-items: flex-start;
}

.align-items-btm {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-stretch {
  align-items: stretch;
}

.bg-green-dark {
  background-color: #315844;
}

.bg-grren-light {
  background-color: #BAE2A6;
}

.bg-yellow {
  background-color: #EFC334;
}

.bg-yellow-light {
  background-color: #EBE198;
}

.bg-lime {
  background-color: #D3E84C;
}

.bg-purple-dark {
  background-color: #272641;
}

.bg-purple-light {
  background-color: #8885D8;
}

.bg-orange {
  background-color: #DB6B34;
}

.bg-blue-dark {
  background-color: #253C40;
}

.bg-blue-light {
  background-color: #6AC4D1;
}

/*# sourceMappingURL=styles.css.map */
