@import url("https://use.typekit.net/cxz6ehv.css");
@font-face {
  font-family: "eina_semiboldregular";
  src: url("../fonts/eina_04_w03_semibold-webfont.woff2") format("woff2"), url("../fonts/eina_04_w03_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displaylight";
  src: url("../fonts/eloquiadisplay-light-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displaymedium";
  src: url("../fonts/eloquiadisplay-medium-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displayregular";
  src: url("../fonts/eloquiadisplay-regular-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "reckless_medium";
  src: url("../fonts/recklessneue-medium-webfont.woff2") format("woff2"), url("../fonts/recklessneue-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "reckless_regular";
  src: url("../fonts/recklessneue-regular-webfont.woff2") format("woff2"), url("../fonts/recklessneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tobiasregular";
  src: url("../fonts/tobias-regular-webfont.woff2") format("woff2"), url("../fonts/tobias-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanguard_demi_bold";
  src: url("../fonts/vanguardcf-demibold-webfont.woff2") format("woff2"), url("../fonts/vanguardcf-demibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanguard_medium";
  src: url("../fonts/vanguardcf-medium-webfont.woff2") format("woff2"), url("../fonts/vanguardcf-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  z-index: 1;
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #FAF6F0;
  color: #315844;
  font-family: "commuters-sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 100em) {
  body {
    font-size: 1.1em;
  }
}
@media (min-width: 126em) {
  body {
    font-size: 1.3em;
  }
}

a {
  color: #315844;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 0;
}
ul li a {
  padding-right: 20px;
}
@media (min-width: 85.375em) {
  ul li a {
    padding-right: 1em;
  }
}
ul li:last-of-type a {
  padding-right: 0;
}
ul.underline-list li {
  padding: 1em 0;
  border-bottom: 1px solid;
  border-color: #315844;
}
@media (min-width: 85.375em) {
  ul.underline-list {
    max-width: 70%;
  }
}

div p {
  margin: 0 0 1em;
}
div.no-btm-marg p {
  margin-bottom: 0;
}

h1 i, h2 i, h3 i, p i {
  font-family: "reckless_medium, serif";
  font-weight: 500;
  white-space: nowrap;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-family: "eina_semiboldregular", sans-serif;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  color: #315844;
}
@media (min-width: 126em) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 3vw;
  }
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #FAF6F0;
}
.dark p {
  color: #FAF6F0;
}

.text-center {
  text-align: center;
}
@media (min-width: 64em) {
  .text-center.max-title {
    max-width: 67%;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  line-height: 0.8em;
  font-size: 70px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 30px;
}

.intro-text {
  font-size: 25px;
  line-height: 1.18em;
}

.header-intro {
  font-size: 30px;
  font-family: "eina_semiboldregular", sans-serif;
  margin-bottom: 0.3em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 8vw;
  }
  h1.lg {
    font-size: 10.5vw;
  }
  h2 {
    font-size: 7vw;
  }
  h3 {
    font-size: 3.5vw;
  }
}
@media (min-width: 64em) {
  h1 {
    font-size: 6vw;
  }
  h1.lg {
    font-size: 8.5vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3.5vw;
  }
}
@media (min-width: 85.375em) {
  h3 {
    font-size: 2.2vw;
  }
  .intro-text {
    font-size: 1.6vw;
  }
  .header-intro {
    font-size: 2vw;
  }
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 300px;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
img.max-80 {
  max-width: 80%;
}
img.max-75 {
  max-width: 75%;
}

svg {
  overflow: visible !important;
  z-index: 1;
  fill: #315844;
}

.little-star {
  margin-left: auto;
  margin-top: 3vw;
  margin-left: auto;
  fill: #315844;
}

.tick {
  fill: #BAE2A6;
  margin-right: 0.3em;
}

.star-banner-wrapper {
  overflow: hidden;
  position: relative;
}
.star-banner-wrapper .star-banner {
  width: 107%;
  margin-left: -3.5%;
  margin-bottom: -9%;
}
.star-banner-wrapper .star-banner .light {
  fill: #FAF6F0;
}

.pad-all {
  padding: 5vw;
}
.pad-all.lg {
  padding: 8vw;
}
.pad-all.sm {
  padding: 2.3076923077vw;
}
.pad-all.for-sm {
  padding: 2.6923076923vw;
}
.pad-all.no-top {
  padding-top: 0;
}
.pad-all.no-bottom {
  padding-top: 0;
}
.pad-all.no-left {
  padding-left: 0;
}
.pad-all.no-right {
  padding-right: 0;
}

.pad-sides {
  padding-left: 5vw;
  padding-right: 5vw;
}
.pad-sides.sides-sm {
  padding-right: 2.3076923077vw;
  padding-left: 2.3076923077vw;
}
.pad-sides.sides-lg {
  padding-right: 8vw;
  padding-left: 8vw;
}
.pad-sides.no-left {
  padding-left: 0;
}
.pad-sides.no-right {
  padding-right: 0;
}

.pad-top-btm {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.pad-top-btm.no-top {
  padding-top: 0;
}
.pad-top-btm.no-btm {
  padding-bottom: 0;
}
.pad-top-btm.top-btm-lg {
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.border-right {
  border-right: 1px solid;
}

.border-btm {
  border-bottom: 1px solid;
}

.border-top {
  border-top: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.border-all {
  border: 1px solid;
}

.no-border-mobile {
  border-width: 0px;
}
@media (min-width: 64em) {
  .no-border-mobile {
    border-width: 1px;
  }
}

.flex-wrap {
  display: flex;
  flex-direction: column;
}
.flex-wrap.wrap {
  flex-wrap: wrap;
  flex-direction: row;
}
.flex-wrap.row {
  flex-direction: row;
}
@media (min-width: 64em) {
  .flex-wrap {
    flex-direction: row;
  }
  .flex-wrap .inner {
    flex-direction: column;
  }
  .flex-wrap .half {
    position: relative;
    flex: 1;
    flex-basis: 50%;
  }
  .flex-wrap .half.grow-vis {
    flex-basis: 65%;
  }
  .flex-wrap .half.mask-size {
    flex-basis: 52%;
  }
  .flex-wrap .third {
    flex: 1;
    flex-basis: 33.33%;
  }
  .flex-wrap.just-cont-space-btw {
    justify-content: space-between;
  }
  .flex-wrap.flex-align-end-style {
    align-items: flex-end;
  }
}
@media (min-width: 85.375em) {
  .flex-wrap .inner {
    flex-direction: row;
    align-items: flex-end;
  }
}

@media (min-width: 64em) {
  .col {
    flex-direction: column;
  }
}

.flex-end-style {
  justify-content: flex-end;
  align-items: flex-end;
}

.flex-jc-sb {
  justify-content: space-between;
}

.center-style {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  margin-top: 50px;
}
.btn a {
  padding: 0.5em;
  display: flex;
  background-color: #315844;
  align-items: center;
  border-radius: 50px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (min-width: 126em) {
  .btn a {
    border-radius: 3vw;
  }
}
.btn a p {
  color: #FAF6F0;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0.8em;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  white-space: nowrap;
  text-transform: capitalize;
}
.btn a div {
  background-color: #BAE2A6;
  border-radius: 5vw;
  padding: 0.2em 1em;
}
.btn a div svg {
  fill: #315844;
  width: 1.6em;
}
.btn.no-marg-top {
  margin-top: 0px;
}
.btn.green-lime a div {
  background-color: #D3E84C;
}
.btn.green-light a {
  background-color: #BAE2A6;
}
.btn.green-light a p {
  color: #315844;
}
.btn.green-light a div {
  background-color: #315844;
}
.btn.green-light a div svg {
  fill: #FAF6F0;
}
.btn.purple a {
  background-color: #272641;
}
.btn.purple a div {
  background-color: #8885D8;
}
.btn.purple a div svg {
  fill: #272641;
}
.btn.blue a {
  background-color: #253C40;
}
.btn.blue a div {
  background-color: #6AC4D1;
}
.btn.blue a div svg {
  fill: #253C40;
}
.btn.blue-light a {
  background-color: #6AC4D1;
}
.btn.blue-light a p {
  color: #253C40;
}
.btn.blue-light a div {
  background-color: #253C40;
}
.btn.blue-light a div svg {
  fill: #6AC4D1;
}
.btn.yellow a {
  background-color: #EBE198;
}
.btn.yellow a p {
  color: #DB6B34;
}
.btn.yellow a div {
  background-color: #DB6B34;
}
.btn.yellow a div svg {
  fill: #EBE198;
}
.btn.brown a {
  background-color: #582F07;
}
.btn.brown a div {
  background-color: #EFC334;
}
.btn.brown a div svg {
  fill: #582F07;
}
.btn.orange a {
  background-color: #DB6B34;
}
.btn.orange a p {
  color: #EBE198;
}
.btn.orange a div {
  background-color: #EBE198;
}
.btn.orange a div svg {
  fill: #DB6B34;
}
.btn.lime a {
  background-color: #D3E84C;
}
.btn.lime a p {
  color: #315844;
}
.btn.lime a div {
  background-color: #315844;
}
.btn.lime a div svg {
  fill: #D3E84C;
}

.bg-green-dark {
  background-color: #315844;
}

.bg-green-light {
  background-color: #BAE2A6;
  fill: #BAE2A6;
}

.bg-yellow {
  background-color: #EFC334;
}

.bg-yellow-light {
  background-color: #EBE198;
  fill: #EBE198;
}

.bg-lime {
  background-color: #D3E84C;
  fill: #D3E84C;
}

.bg-purple-dark {
  background-color: #272641;
  fill: #272641;
}

.bg-purple-light {
  background-color: #8885D8;
  fill: #8885D8;
}

.bg-orange {
  background-color: #DB6B34;
  fill: #DB6B34;
}

.bg-blue-dark {
  background-color: #253C40;
  fill: #253C40;
}

.bg-blue-light {
  background-color: #6AC4D1;
  fill: #6AC4D1;
}

.bg-brown {
  background-color: #582F07;
  fill: #582F07;
}

.right-mask,
.bottom-mask {
  position: absolute;
  fill: #FAF6F0;
}

.bottom-mask {
  width: 100%;
  bottom: -1px;
  left: -1px;
}

.right-mask {
  height: 100%;
  right: -1px;
  bottom: -1px;
}

.mask-wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 80vh;
}

@media (min-width: 64em) {
  .heading-btn-wrapper h2 {
    margin-bottom: 0;
  }
  .heading-btn-wrapper .half:last-of-type {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.addons .little-star {
  margin-left: 3vw;
}

.swiper-slide {
  height: auto;
}

.slider-btn-wrapper {
  position: relative;
  display: flex;
}
.slider-btn-wrapper .swiper-button-prev:after,
.slider-btn-wrapper .swiper-button-next:after {
  content: "";
}
.slider-btn-wrapper .swiper-button-prev,
.slider-btn-wrapper .swiper-button-next {
  position: relative;
  background-color: #315844;
  border-radius: 5vw;
  padding: 0.7em 1em;
  width: unset;
  height: inherit;
}
.slider-btn-wrapper .swiper-button-prev svg,
.slider-btn-wrapper .swiper-button-next svg {
  fill: #BAE2A6;
  width: 1.6em;
}
.slider-btn-wrapper .swiper-button-next {
  transform: rotate(180deg);
}

.slider-urban-solutions h3 {
  font-size: 25px;
  margin-bottom: 0;
}
@media (min-width: 85.375em) {
  .slider-urban-solutions h3 {
    font-size: 1.6vw;
  }
}
.slider-urban-solutions img {
  margin-top: 40px;
}
@media (min-width: 64em) {
  .slider-urban-solutions img {
    margin-top: 0;
  }
}
.slider-urban-solutions .price-title {
  margin-top: 10px;
}
.slider-urban-solutions .price-title .no-wrap {
  font-size: 1.2em;
  white-space: nowrap;
}
.slider-urban-solutions .price-title .price {
  font-weight: 600;
  font-size: 40px;
  line-height: 1em;
  font-family: "eina_semiboldregular", sans-serif;
}
@media (min-width: 48em) {
  .slider-urban-solutions .price-title .price {
    font-size: 6.5vw;
  }
}
@media (min-width: 64em) {
  .slider-urban-solutions .price-title .price {
    font-size: 4.5vw;
  }
}
.slider-urban-solutions .underline-list {
  max-width: 100%;
}
@media (min-width: 85.375em) {
  .slider-urban-solutions .underline-list {
    font-size: 0.8em;
    column-count: 2;
  }
}

.footer-banner {
  position: relative;
  overflow: hidden;
}
.footer-banner h2 {
  margin-top: -12px;
  font-size: 50px;
}
@media (min-width: 48em) {
  .footer-banner h2 {
    margin-top: -22px;
    font-size: 13vw;
  }
}
@media (min-width: 64em) {
  .footer-banner h2 {
    margin-top: -25px;
    line-height: 0.7em;
    font-size: 11.2vw;
  }
}
@media (min-width: 85.375em) {
  .footer-banner h2 {
    margin-bottom: 5vw;
  }
}
.footer-banner.bg-green-dark h2, .footer-banner.bg-green-dark a, .footer-banner.bg-green-dark p {
  color: #BAE2A6;
}
.footer-banner p, .footer-banner a {
  padding-right: 20px;
  margin-bottom: 0;
}
.footer-banner p span, .footer-banner a span {
  white-space: nowrap;
}
.footer-banner ul li {
  padding: 0;
}
@media (min-width: 64em) {
  .footer-banner ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
  }
}
.footer-banner .logo {
  margin-top: 20px;
}

.bg-green-light .border-color-contrast {
  border-color: #315844;
}
.bg-green-light .border-color-contrast .little-star {
  fill: #315844;
}

.bg-green-dark .border-color-contrast {
  border-color: #BAE2A6;
}
.bg-green-dark .border-color-contrast .little-star {
  fill: #BAE2A6;
}
.bg-green-dark .logo {
  fill: #BAE2A6;
}

.orangeTheme h1, .orangeTheme h2, .orangeTheme h3, .orangeTheme p, .orangeTheme a, .orangeTheme li {
  color: #DB6B34;
}
.orangeTheme .bg-orange h1, .orangeTheme .bg-orange h2, .orangeTheme .bg-orange h3, .orangeTheme .bg-orange p, .orangeTheme .bg-orange a {
  color: #EBE198;
}
.orangeTheme .bg-orange .little-star {
  fill: #EBE198;
}
.orangeTheme .underline-list li {
  border-color: #DB6B34;
}
.orangeTheme .slider-btn-wrapper .swiper-button-prev,
.orangeTheme .slider-btn-wrapper .swiper-button-next {
  background-color: #DB6B34;
}
.orangeTheme .slider-btn-wrapper .swiper-button-prev svg,
.orangeTheme .slider-btn-wrapper .swiper-button-next svg {
  fill: #EBE198;
}
.orangeTheme .logo,
.orangeTheme .tick {
  fill: #EBE198;
}
.orangeTheme .social-media,
.orangeTheme .little-star {
  fill: #DB6B34;
}
.orangeTheme .border-color {
  border-color: #DB6B34;
}
.orangeTheme .border-color-contrast {
  border-color: #EBE198;
}

.blueTheme h1, .blueTheme h2, .blueTheme h3, .blueTheme p, .blueTheme a, .blueTheme li {
  color: #253C40;
}
.blueTheme .bg-blue-dark h1, .blueTheme .bg-blue-dark h2, .blueTheme .bg-blue-dark h3, .blueTheme .bg-blue-dark p, .blueTheme .bg-blue-dark a {
  color: #6AC4D1;
}
.blueTheme .bg-blue-dark .little-star {
  fill: #6AC4D1;
}
.blueTheme .underline-list li {
  border-color: #253C40;
}
.blueTheme .slider-btn-wrapper .swiper-button-prev,
.blueTheme .slider-btn-wrapper .swiper-button-next {
  background-color: #253C40;
}
.blueTheme .slider-btn-wrapper .swiper-button-prev svg,
.blueTheme .slider-btn-wrapper .swiper-button-next svg {
  fill: #6AC4D1;
}
.blueTheme .tick {
  fill: #6AC4D1;
}
.blueTheme .social-media,
.blueTheme .logo,
.blueTheme .little-star {
  fill: #253C40;
}
.blueTheme .border-color {
  border-color: #253C40;
}
.blueTheme .border-color-contrast {
  border-color: #6AC4D1;
}

.lightBlueTheme h1, .lightBlueTheme h2, .lightBlueTheme h3, .lightBlueTheme p, .lightBlueTheme a, .lightBlueTheme li {
  color: #253C40;
}
.lightBlueTheme .underline-list li {
  border-color: #253C40;
}
.lightBlueTheme .little-star {
  fill: #6AC4D1;
}
.lightBlueTheme .bg-blue-light .little-star {
  fill: #253C40;
}
.lightBlueTheme .social-media {
  fill: #253C40;
}
.lightBlueTheme .border-color {
  border-color: #253C40;
}
.lightBlueTheme .border-color-contrast {
  border-color: #253C40;
}

.brownTheme h1, .brownTheme h2, .brownTheme h3, .brownTheme p, .brownTheme a, .brownTheme li {
  color: #582F07;
}
.brownTheme .underline-list li {
  border-color: #582F07;
}
.brownTheme .slider-btn-wrapper .swiper-button-prev,
.brownTheme .slider-btn-wrapper .swiper-button-next {
  background-color: #582F07;
}
.brownTheme .slider-btn-wrapper .swiper-button-prev svg,
.brownTheme .slider-btn-wrapper .swiper-button-next svg {
  fill: #EFC334;
}
.brownTheme .social-media,
.brownTheme .little-star {
  fill: #582F07;
}
.brownTheme .border-color {
  border-color: #582F07;
}
.brownTheme .border-color-contrast {
  border-color: #582F07;
}

.lightYellowTheme h1, .lightYellowTheme h2, .lightYellowTheme h3, .lightYellowTheme p, .lightYellowTheme a, .lightYellowTheme li {
  color: #DB6B34;
}
.lightYellowTheme .bg-orange h1, .lightYellowTheme .bg-orange h2, .lightYellowTheme .bg-orange h3, .lightYellowTheme .bg-orange p, .lightYellowTheme .bg-orange a, .lightYellowTheme .bg-orange li {
  color: #EBE198;
}
.lightYellowTheme .underline-list li {
  border-color: #DB6B34;
}
.lightYellowTheme .slider-btn-wrapper .swiper-button-prev,
.lightYellowTheme .slider-btn-wrapper .swiper-button-next {
  background-color: #EBE198;
}
.lightYellowTheme .slider-btn-wrapper .swiper-button-prev svg,
.lightYellowTheme .slider-btn-wrapper .swiper-button-next svg {
  fill: #DB6B34;
}
.lightYellowTheme .tick {
  fill: #EBE198;
}
.lightYellowTheme .social-media,
.lightYellowTheme .little-star {
  fill: #DB6B34;
}
.lightYellowTheme .border-color {
  border-color: #DB6B34;
}
.lightYellowTheme .border-color-contrast {
  border-color: #DB6B34;
}

.limeTheme .tick {
  fill: #D3E84C;
}
.limeTheme .border-color-contrast {
  border-color: #315844;
}
.limeTheme .border-color-contrast .little-star {
  fill: #315844;
}
.limeTheme .slider-btn-wrapper .swiper-button-prev svg,
.limeTheme .slider-btn-wrapper .swiper-button-next svg {
  fill: #D3E84C;
}

.purpleTheme h1, .purpleTheme h2, .purpleTheme h3, .purpleTheme p, .purpleTheme a, .purpleTheme li {
  color: #272641;
}
.purpleTheme .little-star {
  fill: #8885D8;
}
.purpleTheme .social-media {
  fill: #272641;
}
.purpleTheme .bg-purple-dark h1, .purpleTheme .bg-purple-dark h2, .purpleTheme .bg-purple-dark h3, .purpleTheme .bg-purple-dark p, .purpleTheme .bg-purple-dark a {
  color: #8885D8;
}
.purpleTheme .underline-list li {
  border-color: #272641;
}
.purpleTheme .border-color {
  border-color: #272641;
}
.purpleTheme .border-color-contrast {
  border-color: #8885D8;
}

/*# sourceMappingURL=styles.css.map */
