@import url("https://use.typekit.net/cxz6ehv.css");
@font-face {
  font-family: "eina_semiboldregular";
  src: url("../fonts/eina_04_w03_semibold-webfont.woff2") format("woff2"), url("../fonts/eina_04_w03_semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displaylight";
  src: url("../fonts/eloquiadisplay-light-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displaymedium";
  src: url("../fonts/eloquiadisplay-medium-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "eloquia_displayregular";
  src: url("../fonts/eloquiadisplay-regular-webfont.woff2") format("woff2"), url("../fonts/eloquiadisplay-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "reckless_medium";
  src: url("../fonts/recklessneue-medium-webfont.woff2") format("woff2"), url("../fonts/recklessneue-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "reckless_regular";
  src: url("../fonts/recklessneue-regular-webfont.woff2") format("woff2"), url("../fonts/recklessneue-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tobiasregular";
  src: url("../fonts/tobias-regular-webfont.woff2") format("woff2"), url("../fonts/tobias-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanguard_demi_bold";
  src: url("../fonts/vanguardcf-demibold-webfont.woff2") format("woff2"), url("../fonts/vanguardcf-demibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "vanguard_medium";
  src: url("../fonts/vanguardcf-medium-webfont.woff2") format("woff2"), url("../fonts/vanguardcf-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

body {
  z-index: 1;
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  background-color: #FAF6F0;
  color: #315844;
  font-family: "commuters-sans", sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 100em) {
  body {
    font-size: 1.1em;
  }
}
@media (min-width: 126em) {
  body {
    font-size: 1.3em;
  }
}

a {
  color: #315844;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  text-decoration: none;
}

ul {
  padding: 0;
  list-style: none;
  margin-top: 40px;
  margin-bottom: 0;
}
ul li {
  padding: 1em 0;
}
ul.underline-list li {
  border-bottom: 1px solid;
}
@media (min-width: 85.375em) {
  ul.underline-list {
    max-width: 70%;
  }
}

div p {
  margin: 0 0 1em;
}
div.no-btm-marg p {
  margin-bottom: 0;
}

h1 i, h2 i, h3 i, p i {
  font-family: "reckless_medium, serif";
  font-weight: 500;
  white-space: nowrap;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
  font-family: "eina_semiboldregular", sans-serif;
  margin: 0;
  margin-bottom: 40px;
  font-weight: 600;
  color: #315844;
}
@media (min-width: 126em) {
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 3vw;
  }
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: #FAF6F0;
}
.dark p {
  color: #FAF6F0;
}

.text-center {
  text-align: center;
}
@media (min-width: 64em) {
  .text-center.max-title {
    max-width: 67%;
    margin-left: auto;
    margin-right: auto;
  }
}

h1 {
  line-height: 0.8em;
  font-size: 70px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 30px;
}

.intro-text {
  font-size: 25px;
  line-height: 1.18em;
}

.header-intro {
  font-size: 30px;
  font-family: "eina_semiboldregular", sans-serif;
  margin-bottom: 0.3em;
}

@media (min-width: 48em) {
  h1 {
    font-size: 8vw;
  }
  h1.lg {
    font-size: 10.5vw;
  }
  h2 {
    font-size: 7vw;
  }
  h3 {
    font-size: 3.5vw;
  }
}
@media (min-width: 64em) {
  h1 {
    font-size: 6vw;
  }
  h1.lg {
    font-size: 8.5vw;
  }
  h2 {
    font-size: 5vw;
  }
  h3 {
    font-size: 3.5vw;
  }
}
@media (min-width: 85.375em) {
  h3 {
    font-size: 2.2vw;
  }
  .intro-text {
    font-size: 1.6vw;
  }
  .header-intro {
    font-size: 2vw;
  }
}
.bg-cover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 300px;
}

img {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}
img.max-80 {
  max-width: 80%;
}
img.max-75 {
  max-width: 75%;
}

svg {
  overflow: visible !important;
  z-index: 1;
}

.little-star {
  margin-left: auto;
  margin-top: 3vw;
  margin-left: auto;
  fill: #315844;
}

.pad-all {
  padding: 5vw;
}
.pad-all.lg {
  padding: 8vw;
}
.pad-all.sm {
  padding: 2.3076923077vw;
}
.pad-all.for-sm {
  padding: 2.6923076923vw;
}

.pad-sides {
  padding-left: 5vw;
  padding-right: 5vw;
}
.pad-sides.sides-sm {
  padding-right: 2.3076923077vw;
  padding-left: 2.3076923077vw;
}
.pad-sides.sides-lg {
  padding-right: 8vw;
  padding-left: 8vw;
}
.pad-sides.no-left {
  padding-left: 0;
}
.pad-sides.no-right {
  padding-right: 0;
}

.pad-top-btm {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
.pad-top-btm.no-top {
  padding-top: 0;
}
.pad-top-btm.no-btm {
  padding-bottom: 0;
}
.pad-top-btm.top-btm-lg {
  padding-top: 8vw;
  padding-bottom: 8vw;
}

.border-right {
  border-right: 1px solid;
}

.border-btm {
  border-bottom: 1px solid;
}

.border-top {
  border-top: 1px solid;
}

.border-left {
  border-left: 1px solid;
}

.border-all {
  border: 1px solid;
}

.no-border-mobile {
  border-width: 0px;
}
@media (min-width: 64em) {
  .no-border-mobile {
    border-width: 1px;
  }
}

.flex-wrap {
  display: flex;
  flex-direction: column;
}
.flex-wrap.wrap {
  flex-wrap: wrap;
  flex-direction: row;
}
@media (min-width: 64em) {
  .flex-wrap {
    flex-direction: row;
  }
  .flex-wrap .inner {
    flex-direction: column;
  }
  .flex-wrap .half {
    position: relative;
    flex: 1;
    flex-basis: 50%;
  }
  .flex-wrap .half.grow-vis {
    flex-basis: 65%;
  }
  .flex-wrap .half.mask-size {
    flex-basis: 52%;
  }
  .flex-wrap .third {
    flex: 1;
    flex-basis: 33.33%;
  }
}
@media (min-width: 85.375em) {
  .flex-wrap .inner {
    flex-direction: row;
    align-items: flex-end;
  }
}

@media (min-width: 64em) {
  .col {
    flex-direction: column;
  }
}

.flex-end-style {
  justify-content: flex-end;
  align-items: flex-end;
}

.just-cont-space-btw {
  justify-content: space-between;
}

.center-style {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  margin-top: 50px;
}
.btn a {
  padding: 0.5em;
  display: flex;
  background-color: #315844;
  align-items: center;
  border-radius: 50px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
@media (min-width: 126em) {
  .btn a {
    border-radius: 3vw;
  }
}
.btn a p {
  color: #FAF6F0;
  font-weight: 500;
  line-height: 1em;
  margin: 0 0.8em;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
  white-space: nowrap;
  text-transform: capitalize;
}
.btn a div {
  background-color: #BAE2A6;
  border-radius: 5vw;
  padding: 0.2em 1em;
}
.btn a div svg {
  fill: #315844;
  width: 1.6em;
}
.btn.no-marg-top {
  margin-top: 0px;
}
.btn.green-lime a div {
  background-color: #D3E84C;
}
.btn.purple a {
  background-color: #272641;
}
.btn.purple a div {
  background-color: #EFC334;
}
.btn.purple a div svg {
  fill: #272641;
}
.btn.blue a {
  background-color: #253C40;
}
.btn.blue a div {
  background-color: #6AC4D1;
}
.btn.blue a div svg {
  fill: #253C40;
}
.btn.yellow a {
  background-color: #EBE198;
}
.btn.yellow a p {
  color: #DB6B34;
}
.btn.yellow a div {
  background-color: #DB6B34;
}
.btn.yellow a div svg {
  fill: #EBE198;
}
.btn.orange a {
  background-color: #DB6B34;
}
.btn.orange a p {
  color: #EBE198;
}
.btn.orange a div {
  background-color: #EBE198;
}
.btn.orange a div svg {
  fill: #DB6B34;
}
.btn.lime a {
  background-color: #D3E84C;
}
.btn.lime a p {
  color: #315844;
}
.btn.lime a div {
  background-color: #315844;
}
.btn.lime a div svg {
  fill: #D3E84C;
}

.bg-green-dark {
  background-color: #315844;
}

.bg-grren-light {
  background-color: #BAE2A6;
}

.bg-yellow {
  background-color: #EFC334;
}

.bg-yellow-light {
  background-color: #EBE198;
}

.bg-lime {
  background-color: #D3E84C;
}

.bg-purple-dark {
  background-color: #272641;
}

.bg-purple-light {
  background-color: #8885D8;
}

.bg-orange {
  background-color: #DB6B34;
}

.bg-blue-dark {
  background-color: #253C40;
}

.bg-blue-light {
  background-color: #6AC4D1;
}

.orangeTheme h1, .orangeTheme h2, .orangeTheme h3, .orangeTheme p, .orangeTheme a, .orangeTheme li {
  color: #DB6B34;
}
.orangeTheme .bg-orange h1, .orangeTheme .bg-orange h2, .orangeTheme .bg-orange h3, .orangeTheme .bg-orange p, .orangeTheme .bg-orange a {
  color: #EBE198;
}
.orangeTheme .underline-list li {
  border-color: #DB6B34;
}
.orangeTheme .little-star {
  fill: #DB6B34;
}
.orangeTheme .border-color {
  border-color: #DB6B34;
}
.orangeTheme .border-color-contrast {
  border-color: #EBE198;
}
.orangeTheme .border-color-contrast .little-star {
  fill: #EBE198;
}

.right-mask,
.bottom-mask {
  position: absolute;
  fill: #FAF6F0;
}

.bottom-mask {
  width: 100%;
  bottom: -1px;
  left: -1px;
}

.right-mask {
  height: 100%;
  right: -1px;
  bottom: -1px;
}

.mask-wrapper {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  min-height: 80vh;
}

@media (min-width: 64em) {
  .heading-btn-wrapper h2 {
    margin-bottom: 0;
  }
  .heading-btn-wrapper .half:last-of-type {
    justify-content: flex-end;
    align-items: flex-end;
  }
}

.addons .little-star {
  margin-left: 3vw;
}

/*# sourceMappingURL=styles.css.map */
