@import 'variables';
@import 'mixins';
@import url("https://use.typekit.net/cxz6ehv.css");

@font-face {
  font-family: 'eina_semiboldregular';
  src: url('../fonts/eina_04_w03_semibold-webfont.woff2') format('woff2'),
       url('../fonts/eina_04_w03_semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'eloquia_displaylight';
  src: url('../fonts/eloquiadisplay-light-webfont.woff2') format('woff2'),
       url('../fonts/eloquiadisplay-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'eloquia_displaymedium';
  src: url('../fonts/eloquiadisplay-medium-webfont.woff2') format('woff2'),
       url('../fonts/eloquiadisplay-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'eloquia_displayregular';
  src: url('../fonts/eloquiadisplay-regular-webfont.woff2') format('woff2'),
       url('../fonts/eloquiadisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
    font-family: 'reckless_neuemedium';
    src: url('recklessneue-medium-webfont.woff2') format('woff2'),
         url('recklessneue-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
  font-family: 'tobiasregular';
  src: url('../fonts/tobias-regular-webfont.woff2') format('woff2'),
       url('../fonts/tobias-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'vanguard_demi_bold';
  src: url('../fonts/vanguardcf-demibold-webfont.woff2') format('woff2'),
       url('../fonts/vanguardcf-demibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'vanguard_medium';
  src: url('../fonts/vanguardcf-medium-webfont.woff2') format('woff2'),
       url('../fonts/vanguardcf-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}




*{
  box-sizing: border-box;
}


::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
  z-index: 1;
  position: relative;
  height: 100%;
  margin: 0;
  overflow-x: hidden; 
  background-color:$light;
    color: $base-font;
  font-family: $body-font;
  font-weight: 400;
  font-size: $base-font-size;
  line-height: $base-font-size*1.5;



  @media #{$mq-xlarge} {
    font-size: $base-font-size*1.1;
  }

  @media #{$mq-xxlarge} {
    font-size: $base-font-size*1.3;
  }
}

//-------HEADINGS AND TYPE-----------//

a {
  color: $green-dark;
  @include transition;
  text-decoration: none;
  // &:hover,
  // &:focus {
  //   color: darken($base-accent-color, 10%);
  // }
}

ul {
  padding: 0;
  list-style: none;
  margin-top:40px;
  margin-bottom:0;

  li a{
    padding-right:20px;
    @media #{$mq-large}{
        padding-right:$base-font-size;
    }
  }

  li:last-of-type a{
        padding-right:0;
  }

  &.underline-list{
    li{
        padding: $base-font-size 0;
        border-bottom: 1px solid;
        border-color:$green-dark;
      }
      @media #{$mq-large}{
        max-width:70%;
      }
  }
}

div{
  p {
    margin: 0 0 $base-spacing;
  }
  &.no-btm-marg{
    p{
        margin-bottom: 0;
    }
  }


}

h1 i, h2 i, h3 i, p i{
  font-family: $serif-feature;
  font-weight: 500;
  white-space: nowrap;
  font-style: normal;
}



h1,h2,h3,h4,h5,h6 {
    line-height: $base-font-size;
    font-family: $header-font;
    margin:0;
    margin-bottom: $sm;
    font-weight:600;
    color:$green-dark;
    z-index: 1;
    position: relative;
    @media #{$mq-xxlarge} {
        margin-bottom: $md;
    }
}

.dark{
  h1,h2,h3,h4,h5,h6{
    color:$light;
  }
  p{
    color:$light;
  }
}

.text-center{
    text-align: center;
    @media #{$mq-medium}{
        &.max-title{
            max-width:55%;
            margin-left: auto;
            margin-right:auto;
            p{
                max-width: 700px;
                margin-left: auto;
                margin-right:auto;
            }
        }
    }
}

//-------font size-----------//
h1{
  line-height: $base-font-size*0.8;
  font-size: 70px;
}

h2{ 
  font-size: 44px;
  line-height: $base-font-size*0.9;
}

h3{
  font-size: 30px;
}

//intros
.intro-text {
  font-size:25px;
  line-height:1.18em
}

.header-intro {
  font-size:30px;
  font-family: $header-font;
  margin-bottom: calc(1em * .3);
}



@media #{$mq-small} {
  h1{
    font-size:8vw; 
    &.lg{
      font-size:calc(8vw + 2.5vw); 
    }
  }
  h2{
    font-size: 7vw;
  }
  h3{
    font-size: 3.5vw;
  }

}

@media #{$mq-medium} {
  h1{
    font-size:6vw; 
    &.lg{
      font-size:calc(6vw + 2.5vw); 
    }
  }
  h2{
    font-size: 5vw;
  }
  h3{
    font-size: 3.5vw;
  }

}


@media #{$mq-large} {
  h3{
    font-size: 2.2vw;
  }
  .intro-text{
    font-size:1.6vw;
  }
  .header-intro{
    font-size:2vw;
  }
}

//-------Images-----------//
h2 i,
h1 i{
    position: relative;
    z-index: 1;
    font-weight:500;
}

.highlight{
    position: absolute;
    width: 100%;
    left:0;
    bottom:0;
    z-index: -1;
    fill:$green-light;
}


//-------Images-----------//

.bg-cover{
  @include bg-img-pos(50% 50%, cover);
  min-height:300px
}

img {
  width:100%;
  max-width: 100%;
  margin: 0 auto;
  &.max-80{
    max-width: 80%;
  }
  &.max-75{
    max-width: 75%;
  }
}

svg {
  overflow: visible !important;
  z-index: 1;
  fill:$green-dark;
}

.little-star{
    margin-left:auto;
    margin-top: $md;
    margin-left:auto;
    fill:$green-dark
}
.tick{
    fill:$green-light;
    margin-right:$base-font-size*.3;
}

.star-banner-wrapper{
    overflow:hidden;
    position: relative;
    .star-banner{
        width:107%;
        margin-left:-3.5%;
        margin-bottom: -9%;
        .light{
            fill:$light;
        }
    }
}

//-------Padding-----------//
.pad-all{
  padding:$base;
    &.lg{
        padding:$lg;
    }
    &.sm{
        padding:calc($md/1.3);
    }
    &.for-sm{
        padding: calc($base - ($md/1.3))
    }
    &.no-top{
        padding-top:0
    }
    &.no-bottom{
        padding-top:0
    }
    &.no-left{
        padding-left:0
    }
    &.no-right{
        padding-right:0
    }
    // @media #{$mq-medium} {
    //     padding:$md;
    // }
}


.pad-sides{
  padding-left:$base;
  padding-right:$base;
  &.sides-sm{
    padding-right:calc($md/1.3);
    padding-left:calc($md/1.3);
  }
  &.sides-lg{
    padding-right:$lg;
    padding-left:$lg;
}
  &.no-left{
    padding-left:0
  }
  &.no-right{
    padding-right:0
  }

}

.pad-top-btm{
  padding-top:$base;
  padding-bottom:$base;
    &.no-top{
      padding-top:0
    }
    &.no-btm{
      padding-bottom:0
    }
    &.top-btm-lg{
      padding-top:$lg;
      padding-bottom:$lg;
    }
}

//-------borders-----------//

.border-right{
  border-right:1px solid 
}

.border-btm{
  border-bottom:1px solid
}

.border-top{
    border-top: 1px solid;
}
.border-left{
    border-left: 1px solid;
}

.border-all{
    border:1px solid  
}
.no-border-mobile{
    border-width:0px;
    @media #{$mq-medium} {
        border-width:1px;
    }
}


//-------Flex-----------//
.flex-wrap{
    display: flex;
    flex-direction:column;
    &.wrap{
        flex-wrap: wrap;
        flex-direction:row;
    }
    &.row{
        flex-direction:row; 
    }




    @media #{$mq-medium} {
        flex-direction:row;

        .inner{
            flex-direction: column;
        }

        .half{
            position: relative;
            flex:1;
            flex-basis: 50%;
            &.grow-vis{
                flex-basis: 65%;
            }
            &.mask-size{
                flex-basis: 52%;
            }
        }

        .third{
            flex:1;
            flex-basis: 33.33%;
        }

        .quarter{
            flex:1;
            flex-basis: 50%;
        }

        &.just-cont-space-btw{
            justify-content: space-between;
        }
        &.flex-align-end-style{
            align-items: flex-end; 
        }
    }

    @media #{$mq-large} {
        .quarter{
            flex:1;
            flex-basis: 25%;
        }
        .inner{
            flex-direction: row;
            align-items: flex-end;
        }
    }
}

.col{
    @media #{$mq-medium} {
    flex-direction: column;
    }
}

.flex-end-style{
    justify-content: flex-end;
    align-items: flex-end; 
}



.flex-jc-sb{
    justify-content: space-between;
}


.center-style{
    display: flex;
    justify-content: center;
}


//-------Buttons-----------//
.btn{
    display: flex;
    margin-top: 50px;
    a{
        padding: $base-font-size*.5;
        display: flex;
        background-color: $green-dark;
        align-items: center;
        border-radius: 50px;
        @include transition;
        @media #{$mq-xxlarge} {
            border-radius: $md;
        }
      p{
        color:$light;
        font-weight:500;
        line-height: 1em;
        margin: 0 $base-font-size*0.8;
        @include transition;
        white-space: nowrap;
        text-transform: capitalize;
      }
      div{
        background-color: $green-light;
        border-radius: $base;
        padding: $base-font-size*.2 $base-font-size*1;
        svg{
          fill: $green-dark;
          width: $base-font-size*1.6;
        }
      }
    }

    &.no-marg-top{
      margin-top: 0px;
    }



    &.green-lime{
      a{
        div{
          background-color: $lime;
        }
      }
    }

    &.green-light{
        a{
          background-color: $green-light;
          p{
            color:$green-dark;
          }
          div{
            background-color: $green-dark;
            svg{
              fill:$light;
            }
          }
        }
      }
  
    &.purple{
      a{
        background-color: $purple-dark;
        div{
          background-color: $purple-light;
          svg{
            fill:$purple-dark
          }
        }
      }
    }
  
    &.blue{
      a{
        background-color: $blue-dark;
        div{
          background-color: $blue-light;
          svg{
            fill:$blue-dark
          }
        }
      }
    }

    &.blue-light{
        a{
          background-color: $blue-light;
          p{
            color:$blue-dark;
          }
          div{
            background-color: $blue-dark;
            svg{
              fill:$blue-light
            }
          }
        }
      }
  
    &.yellow{
      a{
        background-color: $yellow-light;
        p{
          color:$orange;
        }
        div{
          background-color: $orange;
          svg{
            fill:$yellow-light;
          }
        }
      }
    }

    &.brown{
        a{
            background-color: $brown;
            div{
                background-color: $yellow;
                svg{
                    fill:$brown
                }
            }
        }
    }
  
    &.orange{
      a{
        background-color: $orange;
        p{
          color:$yellow-light;
        }
        div{
          background-color: $yellow-light;
          svg{
            fill:$orange;
          }
        }
      }
    }
  
    &.lime{
      a{
        background-color: $lime;
        p{
          color:$green-dark;
        }
        div{
          background-color: $green-dark;
          svg{
            fill:$lime;
          }
        }
      }
    }
  
  }


//-------Colors-----------//

.bg-green-dark{
  background-color: $green-dark;
}
.bg-green-light{
  background-color: $green-light;
  fill:$green-light;
}
.bg-yellow{
  background-color: $yellow;
}
.bg-yellow-light{
  background-color: $yellow-light;
  fill:$yellow-light;
}
.bg-lime{
  background-color: $lime;
  fill:$lime;
  
}
.bg-purple-dark{
  background-color: $purple-dark;
  fill: $purple-dark;
}
.bg-purple-light{
  background-color: $purple-light;
  fill:$purple-light;
}
.bg-orange{
  background-color: $orange;
  fill:$orange;
}
.bg-blue-dark{
  background-color: $blue-dark;
  fill:$blue-dark;
}
.bg-blue-light{
  background-color: $blue-light;
  fill:$blue-light;
}
.bg-brown{
    background-color: $brown;
    fill:$brown;
}


//-------Image masks-----------//

.right-mask,
.bottom-mask{
    position:absolute;
    fill:$light;
}

.bottom-mask{
    width:100%;
    bottom:-1px;
    left:-1px;
}

.right-mask{
    height:100%;
    right:-1px;
    bottom:-1px;
}

.mask-wrapper{
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    min-height:80vh;
}

//-------heading with button-----------//
.heading-btn-wrapper{
    @media #{$mq-medium}{
        h2{
            margin-bottom: 0;
        }
        .half:last-of-type{
            justify-content: flex-end;
            align-items: flex-end;
        }
    }
  }

//-------specific-styles-----------//
  .addons{
    .little-star{
        margin-left:$md;
    }
  }


//-------sliders-----------//
    .swiper-slide{
        height:auto;
    }

    .slider-btn-wrapper{
        position: relative;
        display: flex;
        justify-content: flex-end;
        .swiper-button-prev:after,
        .swiper-button-next:after{
            content: '';
        }

        .swiper-button-prev,
        .swiper-button-next{
            position: relative;
            background-color: $green-dark;
            border-radius: $base;
            padding: $base-font-size*.7 $base-font-size*1;
            width: unset;
            height: inherit;
            svg{
                fill:$green-light;
                width: $base-font-size*1.6;
            }
        }

        .swiper-button-next{
            transform: rotate(180deg);
        }
    }

    .slider-urban-solutions{
        h3{
        font-size:25px;
        margin-bottom: 0;
        @media #{$mq-large} {
                font-size:1.6vw;
            }
        }
        img{
            margin-top:$sm;
            @media #{$mq-medium}{
                margin-top:0;
            }
        }
        .price-title{
            margin-top:10px;
            .no-wrap{
                font-size:$base-font-size*1.2;
                white-space: nowrap;
            }
            .price{
                font-weight: 600;
                font-size:40px;
                line-height: 1em;
                font-family:$header-font;
                @media #{$mq-small}{
                    font-size:6.5vw;
                }
                @media #{$mq-medium}{
                    font-size:4.5vw;
                }
            }
        }
        .underline-list{
            max-width:100%;
            @media #{$mq-large}{
                font-size:$base-font-size*.8;
                column-count: 2;
            }
        }
    }



//-------Themes-----------//

.bg-green-light{
    .border-color-contrast{
        border-color:$green-dark;
        .little-star{
            fill:$green-dark
        }
    }
}


.bg-green-dark{
    .border-color-contrast{
        border-color:$green-light;
        .little-star{
            fill:$green-light
        }
    }
    .logo{
        fill:$green-light
    }
}

.orangeTheme{
    h1,h2,h3,p, a, li, table{
        color:$orange;  
    }

    .bg-orange{
        h1,h2,h3,p, a{
            color:$yellow-light;  
        } 
        .little-star{
            fill: $yellow-light;
        }
    }
    .underline-list li{
        border-color:$orange
    }

    .slider-btn-wrapper {
        .swiper-button-prev,
        .swiper-button-next{
            background-color: $orange;
            svg{
                fill:$yellow-light;
            }
        }
    }

    .highlight,
    .logo,
    .tick{
        fill:$yellow-light;
    }

    .social-media,
    .little-star{
        fill: $orange;
    }

    .border-color{
        border-color:$orange;
    }
    .border-color-contrast{
        border-color:$yellow-light;

    }
}

.blueTheme{
    h1,h2,h3,p, a, li, table{
        color:$blue-dark;  
    }

    .bg-blue-dark{
        h1,h2,h3,p, a{
            color:$blue-light;  
        } 
        .little-star{
            fill: $blue-light;
        }
        table{
            color:$blue-light;
            tbody th, tr, td{
                border-color:$blue-light;
            }
        }
        .highlight{
            fill:$light;
        }
    }

    table{
        tbody{
            td, th{
                border-color:$blue-dark ;
            }

            @media (max-width:760px){
                tr th{
                    background-color:#CBD5D0;
                }
            }
        }
    
        thead th{
            background-color:#CBD5D0;
            border-right: 1px solid $light;
        }
    }

    .dark{
        thead th{
            color:$blue-dark;
            background-color:#FAF6F0;
            border-right: 1px solid #000;
        }
        tbody tr th{
            color:$blue-dark;
            background-color:#FAF6F0;

            @media #{$mq-medium}{
                color:$blue-light;
                background-color:transparent;
            }
        }

        tbody{
           tr th, td, th{
                border-color:$light ;
            }
        }

        tbody tr:last-of-type td{
            vertical-align: top;
        }

        tbody td{
            text-align: left;
            // padding-left:$base-font-size;
            // padding-right: $base-font-size;
        }
    }



    .underline-list li{
        border-color:$blue-dark;
    }

    .slider-btn-wrapper {
        .swiper-button-prev,
        .swiper-button-next{
            background-color: $blue-dark;
            svg{
                fill:$blue-light;
            }
        }
    }
    .highlight,
    .tick{
        fill:$blue-light;  
    }

    .social-media,
    .logo,
    .little-star{
        fill: $blue-dark;
    }

    .border-color{
        border-color:$blue-dark;
    }
    .border-color-contrast{
        border-color:$blue-light;

    }
}

.brownTheme{
    h1,h2,h3,p, a, li{
        color:$brown;  
    }
    .underline-list li{
        border-color:$brown;
    }

    .slider-btn-wrapper {
        .swiper-button-prev,
        .swiper-button-next{
            background-color: $brown;
            svg{
                fill:$yellow;
            }
        }
    }

    .highlight{
        fill:$yellow;
    }

    .social-media,
    .little-star{
        fill: $brown;
    }

    .border-color{
        border-color:$brown;
    }

    .border-color-contrast{
        border-color:$brown;
    }
}

.lightYellowTheme{
    h1,h2,h3,p, a, li{
        color:$orange;  
    }

    .bg-orange{
        h1,h2,h3,p, a, li{
            color:$yellow-light;  
        }
    }

    .underline-list li{
        border-color:$orange
    }

    .slider-btn-wrapper {
        .swiper-button-prev,
        .swiper-button-next{
            background-color:$yellow-light;
            svg{
                fill:$orange;
            }
        }
    }
    .tick{
        fill:$yellow-light;
    }

    .social-media,
    .little-star{
        fill: $orange;
    }

    .border-color{
        border-color:$orange;
    }
    .border-color-contrast{
        border-color:$orange;
    }
}

.purpleTheme{
    h1,h2,h3,p, a, li{
        color:$purple-dark;  
    }
    .highlight,
    .little-star{
        fill: $purple-light;
    }
    .social-media{
        fill: $purple-dark;
    }
    .bg-purple-dark{
        h1,h2,h3,p, a{
            color:$purple-light;  
        } 

    }
    .underline-list li{
        border-color:$purple-dark;
    }
    .border-color{
        border-color:$purple-dark
    }
    .border-color-contrast{
        border-color:$purple-light;
    }
}

.lightBlueTheme{
    h1,h2,h3,p, a, li{
        color:$blue-dark;  
    }
    .underline-list li{
        border-color:$blue-dark;
    }

    .little-star{
        fill: $blue-light;
    }
    .bg-blue-light{
        .little-star{
            fill: $blue-dark;
        }  
    }

    .social-media{
        fill: $blue-dark;
    }

    .border-color{
        border-color:$blue-dark;
    }
    .border-color-contrast{
        border-color:$blue-dark;

    }
}



.limeTheme{
    .highlight,
    .tick{
        fill:$lime;
    }
    .border-color-contrast{
        border-color:$green-dark;
        .little-star{
            fill: $green-dark;
        }
    }
    .slider-btn-wrapper {
        .swiper-button-prev,
        .swiper-button-next{
            svg{
                fill:$lime;
            }
        }
    }
}



//-------Footer Contact section-----------//

.footer-banner{
    position: relative;
    overflow: hidden;
    h2{
        margin-top:-12px;
        font-size:50px;
        @media #{$mq-small}{
            margin-top:-22px;
            font-size:13vw;
        }
        @media #{$mq-medium}{
            margin-top:-25px;
            line-height: .7em;
            font-size:11.2vw;
        }
        @media #{$mq-large}{
            margin-bottom:$base;
        }
    }
    &.bg-green-dark{
        h2,a,p{
            color:$green-light
        }
    }
    p, a{
        padding-right:20px;
        margin-bottom: 0;
        span{
            white-space: nowrap;
        }
    }
    ul {
        li{
            padding: 0;
        }
        @media #{$mq-medium}{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-end;
        }
    }
    .logo{
        margin-top:20px;
    }
}


.contact{
    h3{
        margin-top: $sm;
        &:first-of-type{
            margin-top:0;
        }
        @media #{$mq-medium}{
            margin-top: 0;
        }
    }
    p{
        max-width: 500px;
        @media #{$mq-medium}{
            max-width: unset;
        }
    }
    div.sm{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div:last-of-type{
            font-family: $header-font;
            font-weight:bold;
            p{
                margin-bottom: 0;
            }

            p:first-of-type{
                margin-top:$md;
                font-family: $body-font;
                margin-bottom: $base-font-size;
            }
            a{
                display: block;
            }
        }
        .email{
            @media #{$mq-medium}{
                margin-bottom: 1.6em;
            }
        }
    }
}

//-------Solutions pages-----------//

.solutions-mask h2{
    @media #{$mq-figma}{
        max-width: 80%;
    }
}
.solutions-banner{
    @media #{$mq-medium}{
        .half:first-of-type{
            padding-right:$base;
        }
        .half:last-of-type{
            padding-left:$base;
        }
    }
}


.table-section.dark,
.table-banner,
.hero-solutions,
.center-banner,
.solutions-banner{
    h1 svg,
    h2 svg{
        bottom:-20px;
    }
}


.solutions-contrast-btm:not(.bg-green-dark),
.solutions-contrast:not(.bg-green-dark){
    .highlight{
        fill:$light;
    }

}

.solutions-contrast{
    .highlight{
        bottom:-10px;
    } 
}

.table-banner.dark{
    @media #{$mq-medium}{
        .small-col{
            margin-left: auto;
            max-width: 60%;
            } 
    }
}

.solutions-usp{
    .usp p{
        margin-right:20px;
    }
    @media #{$mq-medium}{
    .usp{
        max-width:25%
    }
}
}





//-------TABLES-----------//

// make not a table
table, thead, tbody, th, td, tr { 
    display: block; 
}
/* Hide table headers (but not display: none;, for accessibility) */
thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
}
td { 
    position: relative;
 }

 td:before { 
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
}

.table{
    margin:0;
}
table{
    width:100%;
    margin-top:$md;
}
table, td, th {
    border-collapse: collapse;
}




tbody{
    tr td{
        border-top-width: 0;
        padding:0.5em;
        padding-left:50%;
        text-align: left;
    }
    td:last-of-type{
        border-bottom-width: 0; 
    }
    tr:last-of-type td:last-of-type{
        border-bottom: 1px solid;
    }
    td, th{
        border: 1px solid
    }
    &.dark{
        border: 1px solid 
    }
    th{
        text-align: left;
    }
    td{
        text-align: center;
    }
    th{
        padding:$base-font-size;
        &:last-of-type{
            border-bottom-width: 0;
        }
    }
    tr:first-of-type{
        td{
            border-top-width: 0;
        }
    }
}




.table-light{
    @media #{$mq-small}{
        table{display: table;}
        thead{display:table-header-group;}
        tbody{display: table-row-group;}
        th{display:table-cell}
        td{display:table-cell}
        tr{display: table-row}
    
        thead tr { 
            position: relative;
            top:unset;
            left:unset;
        }
        thead th{
            padding:1em;
        }
    
        td{
            padding-left:unset
        }
    
        td:before{
            display: none;
        }
    
        tbody{
            td:last-of-type{
                border-right-width: 0;
            }
            th{
                border-left-width: 0;
            }
            tr:first-of-type th{
                border-top-width: 0;
            }
            tr:last-of-type{
                td{
                    border-bottom-width: 0;
                }
                td:last-of-type{
                    border-bottom-width: 0;
                }
            }
            tr td:last-of-type{
                border-bottom-width:1px;
            }
            tr td{
                padding:0.5em;
                text-align: center;
            }
    
        }
        thead th{
            &:last-of-type{
                border-width:0;
            }
        }
    }
}



.table-light{
    td:nth-of-type(1):before { content: "Kent"; }
    td:nth-of-type(2):before { content: "Tory"; }
    td:nth-of-type(3):before { content: "Lambton"; }
    td:nth-of-type(4):before { content: "Willis"; }
    td:nth-of-type(5):before { content: "Cuba"; }
}


.dark-table{
    @media #{$mq-medium}{
        table{display: table;}
        thead{display:table-header-group;}
        tbody{display: table-row-group;}
        th{display:table-cell}
        td{display:table-cell}
        tr{display: table-row}
    
        thead tr { 
            position: relative;
            top:unset;
            left:unset;
        }
        thead th{
            padding:1em;
        }
    
        td{
            padding-left:unset
        }
    
        td:before{
            display: none;
        }
    
        tbody{
            td:last-of-type{
                border-right-width: 0;
            }
            th{
                border-left-width: 0;
            }
            tr:first-of-type th{
                border-top-width: 0;
            }
            tr:last-of-type{
                td{
                    border-bottom-width: 0;
                }
                td:last-of-type{
                    border-bottom-width: 0;
                }
            }
            tr td:last-of-type{
                border-bottom-width:1px;
            }
            tr td{
                padding:1em;
            }
    
        }
        thead th{
            &:last-of-type{
                border-width:0;
            }
        }
    }
}


.dark-table{
    td:nth-of-type(1):before { content: "Kent"; }
    td:nth-of-type(2):before { content: "Tory"; }
    td:nth-of-type(3):before { content: "Lambton"; }
    td:nth-of-type(4):before { content: "Willis"; }
    td:nth-of-type(5):before { content: "Interview"; }
    td:nth-of-type(6):before { content: "Cuba"; }
}
