<footer>
    <div class="footer-banner standard pad-all no-top{% block class %} {% endblock %}">
        <div>
        {% if businessInformation.footerBanner %}
            {{businessInformation.footerBanner}} 
        {% endif %}
        </div>

        <div class="flex-wrap flex-jc-sb">
            <ul class="">
                <li><p>© 2023 Urban Hub. <span>All rights reserved</span>.</p></li>
                <li><a href="/terms-conditions">Terms & Conditions</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/cookie-policy">Cookie Policy</a></li>
            </ul>

            <div class="flex-end-style flex-wrap">
            <a href="/" class="logo-url">{% include '_partials/svgs/logo.twig' %}</a>
            </div>
        </div>
    </div>
</footer>