<div class="map-wrap {% block class %}{% endblock %}">
    <div class="google-maps">
    {% set mapLink = businessInformation.mapAddress ?? 'https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11992.339706574483!2d174.7755464!3d-41.2852561!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d38afd507af4c45%3A0xed926724d23bb53b!2sUrban%20Hub%20Serviced%20Offices!5e0!3m2!1sen!2snz!4v1712445609078!5m2!1sen!2snz' %}
    <iframe src="{{mapLink}}" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>