<div class="{% block class %} {% endblock %}">
    <div class="flex-wrap pad-sides heading-btn-wrapper">
        <div class="half">
        {% if entry.heading4 %}
            {{entry.heading4}}
        {% endif %}
        </div>
        <div class="half flex-wrap ">
            {% embed '_partials/button' %}
                {% block class %}{{buttonClassContrast }} col no-marg-top {% endblock %}
                 {% block title %}View Building Facilities {% endblock %}
            {% endembed %} 
        </div>
    </div>


    <div class="pad-all ">
        <div class="flex-wrap wrap border-top border-left border-color-contrast">
            {% for block in entry.gridAddons %}
                {% if block.type == 'groupFields' %}
                <div class="pad-all sm border-btm  border-right border-color-contrast {% block colCount %} {% endblock %}">
                    {% if block.subHeading %}
                        {{block.subHeading}}
                    {% endif %}
                    <div class="no-btm-marg flex-wrap flex-end-style">
                        {% if block.paragraph %}
                            {{block.paragraph}}
                        {% endif %}
                         {% include '_partials/svgs/little-star.twig' %}
                    </div>
                </div>
                {% endif %}                           
            {% endfor %}
        </div>
    </div> 
</div>