<div class="{% block class %} {% endblock %}">

    <div class="pad-sides pad-top-btm no-btm">
        <h2 class="text-center max-title">What's included with your membership?</h2>
    </div>

    <div class="flex-wrap wrap pad-all for-sm">
        <div class="pad-all sm third border-btm  border-right border-color-other">
            <h3>fully serviced cafe and bar</h3>
            <p class="no-btm-marg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque, porro ipsa eligendi consequatur necessitatibus, minus quam, labore voluptates beatae modi? Vitae inventore quaerat dolore aliquam quae nostrum neque provident!</p>
        </div>
        <div class="pad-all sm third border-btm border-right border-color-other">
            <h3>fully serviced cafe and bar</h3>
            <p class="no-btm-marg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque, porro ipsa eligendi consequatur necessitatibus, minus quam, labore voluptates beatae modi? Vitae inventore quaerat dolore aliquam quae nostrum neque provident!</p>
        </div>
        <div class="pad-all sm third border-btm border-right border-color-other">
            <h3>fully serviced cafe and bar</h3>
            <p class="no-btm-marg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque, porro ipsa eligendi consequatur necessitatibus, minus quam, labore voluptates beatae modi? Vitae inventore quaerat dolore aliquam quae nostrum neque provident!</p>
        </div> 
        <div class="pad-all sm third border-btm border-right border-color-other">
            <h3>fully serviced cafe and bar</h3>
            <p class="no-btm-marg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque, porro ipsa eligendi consequatur necessitatibus, minus quam, labore voluptates beatae modi? Vitae inventore quaerat dolore aliquam quae nostrum neque provident!</p>
        </div>
        <div class="pad-all sm third border-btm border-right border-color-other">
            <h3>fully serviced cafe and bar</h3>
            <p class="no-btm-marg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque, porro ipsa eligendi consequatur necessitatibus, minus quam, labore voluptates beatae modi? Vitae inventore quaerat dolore aliquam quae nostrum neque provident!</p>
        </div>
       <div class="pad-all sm third border-btm  border-right border-color-other">
            <h3>fully serviced cafe and bar</h3>
            <p class="no-btm-marg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eaque, porro ipsa eligendi consequatur necessitatibus, minus quam, labore voluptates beatae modi? Vitae inventore quaerat dolore aliquam quae nostrum neque provident!</p>
        </div>         
    </div>
</div>