<div class="pad-all">
    <div class=" events-title">
        {% if entry.heading4 %}
            {{entry.heading4}}
        {% endif %}
        {% if entry.paragraph4 %}
            {{entry.paragraph4}}
        {% endif %}
    </div>
    
</div>