<div class="flex-wrap pad-all heading-btn-wrapper border-btm border-color">
    <div class="half">
    {% if entry.heading5 %}
        {{entry.heading5}}
    {% endif %}
    </div>
    <div class="half flex-wrap ">
      <div class="slider-btn-wrapper">
            <div class="swiper-button-next">
                {% include '_partials/svgs/arrow.twig' %}
            </div>
            <div class="swiper-button-prev">
                {% include '_partials/svgs/arrow.twig' %}
            </div>
      </div>
    </div>
</div>