<div class="pad-all border-btm border-color solutions-usp">
    <div class="">
    {% if entry.heading6 %}
        {{entry.heading6}}
    {% endif %}
    </div>
    <div class="flex-wrap  row wrap">
        {% for block in entry.usps %}
            {% if block.type == 'groupFields' %}
                {% if block.sellingPoints %}
                    <div class="usp flex-wrap row quarter">
                        {% include '_partials/svgs/tick.twig' %}
                        <p>{{block.sellingPoints}}</p>
                    </div>
                {% endif %}
            {% endif %}                           
        {% endfor %}
    </div>
</div>