<div class="solutions-contrast {% block class %} {% endblock %}">
    <div class="pad-sides pad-top-btm no-btm">
        <div class="{% block headingAlign %} text-center max-title  {% endblock %}">
        {% if entry.heading3 %}
            {{entry.heading3}}
        {% endif %}
        </div>
    </div>
    <div class="pad-all">
        <div class="flex-wrap wrap border-top border-left border-color-contrast">
            {% for block in entry.grid %}
                {% if block.type == 'groupFields' %}
                <div class="flex-wrap col flex-jc-sb pad-all sm border-btm  border-right border-color-contrast {% block colCount %} {% endblock %}">
                    <div>
                        {% if block.subHeading %}
                            {{block.subHeading}}
                        {% endif %}
                        <div class="no-btm-marg">
                            {% if block.paragraph %}
                                {{block.paragraph}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="flex-wrap">
                        {% include '_partials/svgs/little-star.twig' %}
                    </div>
                </div>
                {% endif %}                           
            {% endfor %}
        </div>
    </div> 
</div>