<div class="star-banner-wrapper pad-top-btm no-btm {% block class %}{% endblock %}">
    {% embed '_partials/svgs/star-banner.twig' %}
        {% block contrastStar %} {{contrast}} {% endblock %}
        {% block contrastStar2 %} {{contrast}} {% endblock %}
        {% block contrastStar3 %} {{contrast}} {% endblock %}
    {% endembed %}
</div>