<div class="table-section {% block class %} {% endblock %}">
    <div class="pad-sides table-light">
        {% if entry.tableEditor %}
            {{entry.tableEditor}}
        {% endif %}
    </div> 
</div>