
    <div class="flex-wrap third-wrap img-wrap">
        <div class="third ">
            <img class="img-fit" src="/uploads/images/picture4-small.webp" alt="">
        </div>
        <div class="third ">
            <img class="img-fit" src="/uploads/images/picture2-small.webp" alt="">
        </div>
        <div class="third ">
        <img class="img-fit" src="/uploads/images/picture4-small.webp" alt="">
        </div>
    </div>

<div class="pad-all no-top">
    <div class="flex-wrap third-wrap text-wrap">
        <div class="third">
            <h3>A plethora of Wellington’s best restaurants, retailers and food options are right on the doorstep...</h3>
        </div>
        <div class="third">
            <p>A plethora of Wellington’s best restaurants, retailers and food options are right on the doorstep. Located within walking distance of Press Hall and Willis Lane, New World Metro and popular after-work institutions like Concrete Bar and Leroy’s means you’ll never be short of eating or entertainment options again. </p>
        </div>
    </div>
</div>
