
<div class="flex-wrap third-wrap img-wrap">
    {% set images = entry.images.all() %}
    {% if images %}
    {% for image in images %}
        <div class="third ">
            <img src="{{ image.getUrl}}" alt="{{ image.alt }}" class="img-fit">
        </div>
    {% endfor %}
        {% endif %}
</div>

<div class="pad-all no-top">
    <div class="flex-wrap third-wrap text-wrap">
        <div class="third">
            {% if entry.headingH3d %}
                    {{entry.headingH3d}}
            {% endif %}
        </div>
        <div class="third">
            {% if entry.paragraph2 %}
                    {{entry.paragraph2}}
            {% endif %}
        </div>
    </div>
</div>
