<figure class="table">
    <table>
        <thead>
            <tr>
                <th>
                    Features
                </th>
                <th>
                    Kent
                </th>
                <th>
                    Tory
                </th>
                <th>
                    Lambton
                </th>
                <th>
                    Willis
                </th>
                <th>
                    Cuba
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    Boardroom
                </th>
                <td>
                    24
                </td>
                <td>
                    26
                </td>
                <td>
                    20
                </td>
                <td>
                    8
                </td>
                <td>
                    8
                </td>
            </tr>
            <tr>
                <th>
                    Theatre Seats
                </th>
                <td>
                    48
                </td>
                <td>
                    66
                </td>
                <td>
                    18
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    U Shape
                </th>
                <td>
                    18
                </td>
                <td>
                    18
                </td>
                <td>
                    16
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    Classroom
                </th>
                <td>
                    20
                </td>
                <td>
                    24
                </td>
                <td>
                    18
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    Cabaret
                </th>
                <td>
                    30
                </td>
                <td>
                    45
                </td>
                <td>
                    30
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    Banquet
                </th>
                <td>
                    36
                </td>
                <td>
                    54
                </td>
                <td>
                    36
                </td>
                <td>
                    -
                </td>
                <td>
                    -
                </td>
            </tr>
            <tr>
                <th>
                    Size
                </th>
                <td>
                    53.36m2
                </td>
                <td>
                    70.54m2
                </td>
                <td>
                    55.10m2
                </td>
                <td>
                    16.3m2
                </td>
                <td>
                    13.3m2
                </td>
            </tr>
            <tr>
                <th>
                    Lighting
                </th>
                <td>
                    Natural Light
                </td>
                <td>
                    Natural Light
                </td>
                <td>
                    Natural Light
                </td>
                <td>
                    Natural Light
                </td>
                <td>
                    -
                </td>
            </tr>
        </tbody>
    </table>
</figure>