{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: " greenTheme svgStyle" } %} 
{% set docTitle = entry.title %} 
{% set metaDesc = entry.metaDescription %} 
{% set page = craft.entries().section('testPage').all() %} 

{% set buttonClass = "green-light" %}
{% set buttonClassContrast = "green" %}

{% set main = "bg-green-light" %}
{% set contrast = "bg-green-dark" %}
{% set footer = "bg-green-dark" %}



{% block content %}
    
    <div class="pad-all">
    {% include '_partials/forms/formie.twig' %}
    </div>
{% endblock %}



