{% extends "_layout.twig" %} 
{% set bodyAttributes ={ class: "thank-you greenTheme " } %} 
{% set docTitle = 'Thank you' %} 

{% set buttonClass = "green" %}
{% set buttonClassContrast = "green" %}
{% set main = "bg-green-dark" %}
{% set contrast = "bg-green-light" %}
{% set footer = "bg-green-dark" %}


{% block content %} 

        <div class="pad-all no-top text-center ">
        <div class="icon-title">
            <img src="/uploads/images/celebrate-icon.svg" alt="">
            {% if entry.pageTitle %}
                {{entry.pageTitle}}
            {% endif %}
        </div>

            <div class="max">
                <div class="intro-text">
                {# <p>{{ craft.app.request.getQueryParam('from') }}!</p> #}
                {% if entry.introParagraph %}
                {{entry.introParagraph}}
                {% endif %}
                </div>
            </div>

            <div>
                {% embed '_partials/button' %}
                    {% block class %}{{buttonClassContrast}}{% endblock %}
                    {% block title %}Back to home{% endblock %}
                    {% block url %}/{% endblock %}
                {% endembed %} 
            </div>
        </div>


{% endblock %}


